* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(15, 22, 31);
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
    color: rgb(15, 22, 31);
    text-align: center;
    font-family: sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 40px;
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;
}

.badge {
    background:  rgb(180, 0, 20);
    font-size: 14px;
    color: white;
    padding: 2px 10px;
    font-family: sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -30px;
    width: 60px;
    border: 2px solid white;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
    width: 60px;
    border: 2px solid white;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.choices {
    margin: 50px 0px;
    text-align: center;
}

.choice {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    border: 4px solid white;
    justify-content: center;
    transition: background 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background:  rgb(184, 31, 107);
}

.choice-img {
    height: 100%;
    color: white;
    font-size: 80px;
}

#action-message {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.green-glow {
    border: 4px solid green;
    box-shadow: 0 0 10px darkgreen;
    transition: all 0.3s ease;
}

.red-glow {
    border: 4px solid red;
    box-shadow: 0 0 10px darkred;
    transition: all 0.3s ease;
}

.grey-glow {
    border: 4px solid gray;
    box-shadow:  0 0 10px darkgrey;
    transition: all 0.3s ease;
}